/* src/app/auth/login/login.component.css */
.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.p-field {
  margin-bottom: 1rem;
}

small {
  color: red;
  font-size: 0.875rem;
}

button {
  width: 100%;
}

.p-text-primary {
  color: #007bff;
  text-decoration: none;
}

.p-text-primary:hover {
  text-decoration: underline;
}


/* :host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
} */
